@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: IBMPlexMonoRegular;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: IBMPlexMonoRegular, monospace;
}

@font-face {
  font-family: 'IBMPlexMonoRegular';
  src: url('./assets/fonts/ibmplexmono/IBMPlexMono-Regular.ttf')format('truetype');
}
